body, td
{
	font-family: Arial;
}

ul.jobAdList { list-style: none; padding: 0; }

table.jobAdsTable { width: 700px; }

table.jobAdsTable tr td
{
	border-bottom: 1px solid #aaaaff;
	padding: .3em 0 .3em 0;
}

table.jobAdsTable a { color: #000044; text-decoration:none; }
table.jobAdsTable a:hover { color: #0000FF; text-decoration:underline; }

td.jobTitle { font-weight: bold; }
td.jobSalary { text-align: right; }
td.jobDownload a, td.jobDownload a:visited { font-size: 0.6em; background-color: Gray; color: White; text-decoration:none; padding: 0.4em; margin-left: 1em; }
td.jobDownload a:hover { background-color: Navy; }

div.resultsSummary { margin: 1em 0 1em 0; font-style: italic; }
div.pageLinks { margin-top: 1em; }

div.searchForm 
{
	padding: .5em 1.5em .5em 1.5em;
	background-color: #506EB2;
	color: White;
}

a.rssLink img, a.excelLink img { border: 0; vertical-align: middle; margin-right: .25em; }

#tempDataMessage { background-color: Red; color: White; font-weight: bold; padding: 0.5em 1em 0.5em 1em; margin-bottom: 0.5em; -moz-border-radius: 0.8em; }

span.suggestion { margin-left: 2em; }

/* -- Data entry styles -- */
div.editor-label { float:left; min-width: 50%; text-align:right; padding-top:0.6em; }
div.editor-label:after { content: ":" }
div.editor-field { border: 1px solid white; text-align:left; padding-bottom:0.5em; padding-top: 0.3em; }
input.text-box { background-image: url(gradient.png); border: 1px solid gray; padding-left: 0.2em; }
input.check-box { margin-top: 0.5em; }
input[type=submit] { padding: 0 2em 0 2em; }
form { text-align: center; }
.field { text-align:left; padding: 0.5em; border-left: 3px solid orange; margin-bottom: 3px; min-width: 18em; height:100%; }
.field > label { font-weight: bold; display: block; padding-left: 0.2em; }
.field .hint { color: Gray; font-size: 0.8em; font-style: italic; }
.subfield > label { font-weight: normal; float:left; width: 7em; text-align:right; padding-bottom: 0.5em; margin-right: 0.5em; }
.subfield { margin-top: 0.5em; }
.fullwidth { width: 100%; }

/* -- Validation styles -- */
div.validation-summary-errors { text-align: left; color: Red; }
.field-validation-error { display:block; clear: both; color:Red; font-weight: bold; padding: 0.15em 0 0.3em 0.5em;  }
.field-validation-valid { display:none; }
.field-validation-error:before { content: "* "; }
input.text-box.input-validation-error { background-color: #FFBBAA; background-image: none; border: 1px solid red; }