/****** Object:  Table [dbo].[JobAds]    Script Date: 02/11/2010 09:06:00 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[JobAds]') AND type in (N'U'))
DROP TABLE [dbo].[JobAds]
GO
/****** Object:  Table [dbo].[JobAds]    Script Date: 02/11/2010 09:06:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[JobAds]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[JobAds](
	[JobAdId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Salary] [money] NOT NULL,
	[Location] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[OnlyMembersMaySeeDetails] [bit] NOT NULL,
 CONSTRAINT [PK_JobAds] PRIMARY KEY CLUSTERED 
(
	[JobAdId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
SET IDENTITY_INSERT [dbo].[JobAds] ON
INSERT [dbo].[JobAds] ([JobAdId], [Title], [Salary], [Location], [OnlyMembersMaySeeDetails]) VALUES (1, N'SOA Programmer', 110000.0000, N'Austin, USA', 0)
INSERT [dbo].[JobAds] ([JobAdId], [Title], [Salary], [Location], [OnlyMembersMaySeeDetails]) VALUES (2, N'Temporary .NET Analyst', 65000.0000, N'Warsaw, Poland', 0)
INSERT [dbo].[JobAds] ([JobAdId], [Title], [Salary], [Location], [OnlyMembersMaySeeDetails]) VALUES (3, N'Automated Test Analyst', 45000.0000, N'Hong Kong', 0)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
SET IDENTITY_INSERT [dbo].[JobAds] OFF
